version: '3'

tasks:
  default:
    desc: "%%CMD_DESC%%"
    summary: |
      %%CMD_DESC%%

      Examples:
        %%CLI_NAME%% %%CMD_NAME%% -- <args>
    cmd: "{{.FRAMEWORK_DIR}}/lib/router/router.sh {{.TASK}} {{.CLI_ARGS}}"

  help:
    desc: "Show help for %%CMD_NAME%%"
    cmd: "'{{.FRAMEWORK_DIR}}/lib/help/detail.sh' '%%CMD_NAME%%' '{{.CLI_DIR}}/Taskfile.yaml'"
