name: %%CLI_NAME%%
version: %%CLI_VERSION%%
description: ""

dependencies:
  required: []
    # - name: kubectl
    #   install: "https://kubernetes.io/docs/tasks/tools/"
  optional: []
    # - name: fzf
    #   install: "https://github.com/junegunn/fzf#installation"
